template element TextArea(Fly/TextBox)
{
    font_name BlueHighway12
    width 0.15
    height 0.025
    char_height 0.0225
    alignment left
    left 0.025
    colour 1 1 1
}

template element TextArea(Fly/Label) : Fly/TextBox
{
    colour_top 0 1 0
    colour_bottom 1 1 1
}

template element TextArea(Fly/MaxedTextBox) : Fly/TextBox
{
    colour 1 0 0
}

Fly/HUD
{
    container Panel(Fly/InfoBar)
    {
        top 0.025
        left 0.025
        width 0.95
        height 0.05
        material StatsPanel_Material
        
        element TextArea(Fly/LevelName) : Fly/Label
        {
            top 0.01
            left 0.375
            width 0.2
            height 0.05
            alignment center
            char_height 0.04
        }
    }

    container Panel(Fly/StatsPanel)
    {
        top 0.5
        left 0.725
        width 0.25
        height 0.45
        material StatsPanel_Material
    
        element TextArea(Fly/PositionLabel) : Fly/Label
        {
            caption Position
            top 0.025
        }
        element TextArea(Fly/Position) : Fly/TextBox
        {
            top 0.05
        }
        
        element TextArea(Fly/VelocityLabel) : Fly/Label
        {
            caption Velocity
            top 0.075
        }
        element TextArea(Fly/Velocity) : Fly/TextBox
        {
            top 0.1
        }
        
        element TextArea(Fly/PitchRollYawLabel) : Fly/Label
        {
            caption Pitch/Roll/Yaw
            top 0.125
        }        
        element TextArea(Fly/PitchRollYaw) : Fly/TextBox
        {
            top 0.15
        }
        
        element TextArea(Fly/ThrustLabel) : Fly/Label
        {
            caption Thrust
            top 0.175
        }
        element TextArea(Fly/Thrust) : Fly/TextBox
        {
            top 0.2
        }
        
        element TextArea(Fly/SpeedLabel) : Fly/Label
        {
            caption Speed
            top 0.225
        }
        element TextArea(Fly/Speed) : Fly/TextBox
        {
            top 0.25
        }
        
        element TextArea(Fly/AOALabel) : Fly/Label
        {
            caption Angle of Attack
            top 0.275
        }
        element TextArea(Fly/AOA) : Fly/TextBox
        {
            top 0.3
        }
    }
}
