template container TextArea(Fly/TextBox)
{
    font_name BlueHighway12
    width 0.15
    height 0.025
    char_height 0.02
    alignment left
}

Fly/HUD
{
    container Panel(Fly/HUDPanel)
    {
        top 0
        left 0
        width 1
        height 1
    
        element TextArea(Fly/Position) : Fly/TextBox
        {
            left 0.8
            top 0.6
        }
        
        element TextArea(Fly/Velocity) : Fly/TextBox
        {
            left 0.8
            top 0.65
        }
    }
}